$default-main-color: #363636;
$default-accent-color: #DE5200;
$default-error-color: #DE1D00;

//Need to build out color mixins
$default-accent-a: //main: 20% (Screen), //accent: 100%, //#DF590B
$default-accent-b: //main: 20% (multiply), //accent: 100%, //#DF590B
