$plan-date-width: 50%;
$plan-date-float: left;

$plan-date-label-font-weight: bold;
$plan-date-label-base-font-size: $default-font-size;
$plan-date-label-final-font-size: 14;

$plan-date-checkin-padding-right: $default-spacing-unit * 2;

$plan-date-checkin-padding-left: $default-spacing-unit * 2;

$plan-date-date-base-font-size: $default-font-size;
$plan-date-date-final-font-size: 28;
$plan-date-date-color: $default-accent-color;

$plan-year-base-font-size: $default-font-size;
$plan-year-final-font-size: 16;