$room-image-display: block;
$room-image-position: absolute;
$room-image-top: 0;
$room-image-left: 0;
$room-image-width: 100%;
$room-image-height: 100%;
$room-image-bg-repeat: no-repeat;
$room-image-bg-position: center;
$room-image-bg-size: cover;