$plan-view-width: 480px;
$plan-view-text-align: center;

$rooms-view-width: 1024px;
$rooms-view-overflow: hidden;

/* ==========================================================================
   Mobile
   ========================================================================== */
   
$tablet-rooms-view-show-rates-view-left-display: none;

$tablet-rooms-view-show-rooms-view-right-display: none;