<div id="teromac-payment-methods-view">
    <h2>Credit and Debit Card</h2>
    <div class="teromac-account-padding">
        <div class="teromac-btn teromac-mobile-only">Add a new card</div>
        <ul class="teromac-payment-methods">
            <li class="teromac-payment-method-outer teromac-default-payment-method">
                <div class="teromac-payment-method-inner">
                    <div class="teromac-cc-default-label">Default</div>
                    <div class="teromac-cc-icon teromac-cc-icon-visa"></div>
                    <div class="teromac-cc-last-four">Visa ****6836</div>
                    <div class="teromac-half-container">
                        <div class="teromac-half teromac-push-left">
                            <div class="teromac-label">Expiration</div>
                            <div class="teromac-value">03/2018</div>
                            <div class="teromac-btn teromac-btn-hollow-inverse">Edit</div>
                        </div>
                        <div class="teromac-half teromac-push-right">
                            <div class="teromac-label">Card Holder</div>
                            <div class="teromac-value">David Resnick</div>
                            <div class="teromac-btn teromac-btn-hollow-inverse">Delete</div>
                        </div>
                    </div>
                    <div class="teromac-checkbox">
                        <input type="checkbox" id="teromac-default-card-input-1" />
                        <label for="teromac-default-card-input-1">Set as default</label>
                    </div>
                </div>
            </li>
            <li class="teromac-payment-method-outer">
                <div class="teromac-payment-method-inner">
                    <div class="teromac-cc-default-label">Default</div>
                    <div class="teromac-cc-icon teromac-cc-icon-mastercard"></div>
                    <div class="teromac-cc-last-four">Visa ****6836</div>
                    <div class="teromac-half-container">
                        <div class="teromac-half teromac-push-left">
                            <div class="teromac-label">Expiration</div>
                            <div class="teromac-value">03/2018</div>
                            <div class="teromac-btn teromac-btn-hollow-inverse">Edit</div>
                        </div>
                        <div class="teromac-half teromac-push-right">
                            <div class="teromac-label">Card Holder</div>
                            <div class="teromac-value">David Resnick</div>
                            <div class="teromac-btn teromac-btn-hollow-inverse">Delete</div>
                        </div>
                    </div>
                    <div class="teromac-checkbox">
                        <input type="checkbox" id="teromac-default-card-input-2" />
                        <label for="teromac-default-card-input-2">Set as default</label>
                    </div>
                </div>
            </li>
        </ul>
        <div class="teromac-btn teromac-desktop-only">Add a new card</div>
    </div>
</div>