<div id="teromac-policies-view">
    <h2 translate="Cancellation Policy"></h2>
    <form>
        <div class="teromac-policy-view-left">
            <p>Payment must be made at time of reservation blablaPayment must be made at time of reservation blablaPayment must be made at time of Payment Payment must be made at time of reservation blablaPayment must be made at time of reservation blablaPayment must be made at time of Payment Payment must be made at time of reservation blablaPayment must be made at time of reservation blablaPayment must be made at time of Payment Payment must be made at time of reservation blablaPayment must be made at time of reservation blablaPayment must be made at time of Payment</p>
        </div>
        <hr class="teromac-mobile-only" />
        <div class="teromac-policy-view-right">
            <div class="teromac-checkbox">
                <input type="checkbox" id="teromac-newsletter-input">
                <label for="teromac-newsletter-input">Sign up for newsletter</label>
            </div>
            <p>By confirming this booking, I agree to "Hotel Names" <a href="">Terms and Conditions</a>. <a href="">Privacy Statement</a> and <a href="">Data Protection Clause</a>.</p>
        </div>
        <div class="teromac-btn-fixed-container-bottom">
            <a ui-sref="review" class="teromac-btn teromac-btn-fixed-bottom" translate="Continue"></a>
        </div>
    </form>
</div>