<div id="teromac-reservations-view">
    <h2>Upcoming Reservation</h2>
    <div class="teromac-order-confirmation-success-message teromac-desktop-only">
        <div class="teromac-success-check-left">
            <div>Your order is confirmed!</div>
            <div>Order # 10445</div>
        </div>
    </div>
    <div class="teromac-account-padding">
        <ul class="teromac-upcoming-reservations">
            <li class="teromac-upcoming-reservation">
                <div class="teromac-upcoming-reservation-header">Reservation #10445</div>
                <div class="teromac-upcoming-reservation-body">
                    <div class="teromac-upcoming-reservation-left">
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-label">Check-in date</div>
                                <div class="teromac-value">April 19, 2016</div>
                            </div>
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-label">Check-in time</div>
                                <div class="teromac-value">3:00 PM</div>
                            </div>
                        </div>
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-label">Check-out date</div>
                                <div class="teromac-value">April 23, 2016</div>
                            </div>
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-label">Check-out time</div>
                                <div class="teromac-value">11:00 AM</div>
                            </div>
                        </div>
                        <div class="teromac-label">Guest Name &amp; Email</div>
                        <div class="teromac-value">David Resnick<br />David.Resnick@pegs.com</div>
                    </div>
                    <div class="teromac-upcoming-reservation-right">
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-btn teromac-btn-inverse" ng-click="vm.addToCalendar()">Add to calendar</div>
                            </div> 
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-btn teromac-btn-inverse" ng-click="vm.share()">Share reservation</div>
                            </div> 
                        </div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-view-details-icon">View full details</div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-modify-icon">Modify reservation</div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-cancel-icon">Cancel reservation</div>
                    </div>
                </div>
            </li>
            <li class="teromac-upcoming-reservation">
                <div class="teromac-upcoming-reservation-header">Reservation #10445</div>
                <div class="teromac-upcoming-reservation-body">
                    <div class="teromac-upcoming-reservation-left">
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-label">Check-in date</div>
                                <div class="teromac-value">April 19, 2016</div>
                            </div>
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-label">Check-in time</div>
                                <div class="teromac-value">3:00 PM</div>
                            </div>
                        </div>
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-label">Check-out date</div>
                                <div class="teromac-value">April 23, 2016</div>
                            </div>
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-label">Check-out time</div>
                                <div class="teromac-value">11:00 AM</div>
                            </div>
                        </div>
                        <div class="teromac-label">Guest Name &amp; Email</div>
                        <div class="teromac-value">David Resnick<br />David.Resnick@pegs.com</div>
                    </div>
                    <div class="teromac-upcoming-reservation-right">
                        <div class="teromac-half-container">
                            <div class="teromac-half teromac-push-left">
                                <div class="teromac-btn teromac-btn-inverse" ng-click="vm.addToCalendar()">Add to calendar</div>
                            </div> 
                            <div class="teromac-half teromac-push-right">
                                <div class="teromac-btn teromac-btn-inverse" ng-click="vm.share()">Share reservation</div>
                            </div> 
                        </div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-view-details-icon">View full details</div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-modify-icon">Modify reservation</div>
                        <div class="teromac-btn teromac-btn-hollow-inverse teromac-btn-cancel-icon">Cancel reservation</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="teromac-btn">View Past Reservation</div>
    </div>
</div>