<div id="teromac-confirmation-view">
    <h2 class="teromac-mobile-only">Your Order is confirmed!</h2>
    <div class="teromac-order-confirmation-success-message teromac-desktop-only">
        <div class="teromac-success-check-left">
            <div>Your order is confirmed!</div>
            <div>Order # 10445</div>
        </div>
    </div>
    <div class="teromac-confirmation-view-padding">
        <div class="teromac-order-email-confirmation-message">
            <p>You will receive a confirmation email at</p>
            <a href="mailto:guestemail@domain.com">guestemail@domain.com</a>
        </div>
        <div class="teromac-upcoming-reservation">
            <div class="teromac-upcoming-reservation-header">Reservation #10445</div>
            <div class="teromac-upcoming-reservation-body">
                <div class="teromac-thirds">
                    <div class="teromac-thirds-left">
                        <div class="teromac-label">Check-in date</div>
                        <div class="teromac-value">April 19, 2016</div>
                        <div class="teromac-label">Check-out date</div>
                        <div class="teromac-value">April 23, 2016</div>
                    </div>
                    <div class="teromac-thirds-mid">
                        <div class="teromac-label">Check-in time</div>
                        <div class="teromac-value">3:00 PM</div>
                        <div class="teromac-label">Check-out time</div>
                        <div class="teromac-value">11:00 AM</div>
                    </div>
                    <div class="teromac-thirds-right">
                        <div class="teromac-label">Guest Name &amp; Email</div>
                        <div class="teromac-value">David Resnick<br />David.Resnick@pegs.com</div>
                    </div>
                </div>
                <div class="teromac-upcoming-reservation-controls"> 
                    <div class="teromac-half-mobile teromac-half-mobile-push-left">
                        <div class="teromac-btn teromac-btn-inverse" ng-click="vm.addToCalendar()">Add to calendar</div>
                    </div>   
                    <div class="teromac-half-mobile teromac-half-mobile-push-right">
                        <div class="teromac-btn teromac-btn-inverse" ng-click="vm.share()">Share reservation</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="teromac-confirmation-message">
            <h3>Our Message to You</h3>
            <p>The hotel can put a custom message for you here. Lorem ipsum blablaThe hotel can put a custom message for you here. Lorem ipsum blablaThe hotel can put a custom.</p>
        </div>
    </div>
    <div class="teromac-confirmation-billing">
        <div class="teromac-confirmation-billing-header">
            <span class="teromac-confirmation-billing-number">Order #10445</span>
            <span class="teromac-confirmation-billing-date">Placed: June 30, 2016</span>
        </div>
        <div class="teromac-quarters">
            <div class="teromac-quarter teromac-quarter-first">
                <div class="teromac-label">Order Total</div>
                <div class="teromac-value">$388</div>
            </div>
            <div class="teromac-quarter teromac-quarter-second">
                <div class="teromac-label">Total Items</div>
                <div class="teromac-value">2</div>
            </div>
            <div class="teromac-quarter teromac-quarter-third">
                <div class="teromac-label">Paid with</div>
                <div class="teromac-value">Visa **** 1111</div>
            </div>
            <div class="teromac-quarter teromac-quarter-fourth">
                <div class="teromac-label">Billed to</div>
                <div class="teromac-value">David Resnick<br />256 teromac Street<br />Los Angeles, CA 90210</div>
            </div>
        </div>
        <div class="teromac-confirmation-message-controls">
            <div class="teromac-btn">View Invoice</div>
        </div>
    </div>
    <div class="teromac-confirmation-view-padding">
        <div class="teromac-confirmation-hotel-information">
            <div class="teromac-half teromac-push-left">
                <h3>Hotel Information</h3>
                <p>The hotel can put a custom message for you here. Lorem ipsum blablaThe hotel can put a custom message for you here. Lorem ipsum </p>
                <div class="teromac-confirmation-hotel-address">
                    <h4>teromac Hotel</h4>
                    <p>111 teromac St.</p>
                    <p>Beverly Hills, CA 90210</p>
                    <p>212-121-2122</p>
                </div>
            </div>
            <div class="teromac-half teromac-push-right">
                <img src="/assets/images/hotels/belmond/map.png" />
            </div>
        </div>
        <hr />
        <div class="teromac-confirmation-message teromac-confirmation-cancellation-message">
            <h3>Cancellation Policy</h3>
            <p>The hotel can put a custom message for you here. Lorem ipsum blablaThe hotel can put a custom message for you here. Lorem ipsum blablaThe hotel can put a custom.</p>
            <div class="teromac-confirmation-message-controls">
                <div class="teromac-half-mobile teromac-half-mobile-push-left">
                    <span class="teromac-btn">Modify Reservation</span>
                </div>
                <div class="teromac-half-mobile teromac-half-mobile-push-right">
                    <span class="teromac-btn teromac-btn-inverse">Cancel Reservation</span>
                </div>
            </div>
        </div>
    </div>
</div>