<div id="teromac-share-modal-view">
    <h2 class="teromac-mobile-only">Share Your Reservation</h2>
    <a href="" class="teromac-email-share-btn"><span>Email</span></a>
    <hr class="teromac-mobile-only" />
    <div class="teromac-share-link-container">
        <a href="http://www.teromac.com/dkllo/143024050423231/13123123400014231231313" class="teromac-share-link">http://www.teromac.com/dkllo/143024050423231/13123123400014231231313</a>
    </div>
    <div class="teromac-btn-container">
        <div class="teromac-btn">Copy Link</div>
    </div>
</div>