<div class="teromac-sticky-summary-bar teromac-summary-bar-placeholder">
    <div class="teromac-summary-bar-outer">
        <div class="teromac-summary-bar-mid">
            <div class="teromac-summary-bar-inner">
                <a ui-sref="plan" class="teromac-summary-bar-left">
                    <div class="teromac-summary-bar-dates">
                        <span class="teromac-summary-bar-checkin"><span translate="MAR"></span> 19</span>
                        <span class="teromac-summary-bar-date-divider">-</span>
                        <span class="teromac-summary-bar-checkout"><span tralsate="MAR"></span> 24</span>
                    </div>
                    <ul>
                        <li class="teromac-summary-bar-adults"><span>2</span></li>
                        <li class="teromac-summary-bar-children"><span>2</span></li>
                        <li class="teromac-summary-bar-rooms"><span>4</span></li>
                    </ul>
                </a>
                <div class="teromac-summary-bar-right">
                    <a ui-sref="cart" class="teromac-summary-bar-total">
                        <div>
                            <span class="teromac-label" translate="TOTAL">Total</span>
                            <span class="teromac-value">$100</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>