<div id="teromac-profile-view">
    <h2 class="teromac-desktop-only" translate="Contact Information"></h2>
    <div class="teromac-account-padding">
        <div class="teromac-profile-view-left">
            <h3 class="teromac-mobile-only" translate="Contact Information"></h3>
            <div class="teromac-half-container">
                <div class="teromac-half teromac-push-left">
                    <div class="teromac-label" translate="Name"></div>
                    <div class="teromac-value">David Resnick</div>
                </div>
                <div class="teromac-half teromac-push-right">
                    <div class="teromac-label" translate="Country"></div>
                    <div class="teromac-value">USA</div>
                </div>
            </div>
            <div class="teromac-label">Address</div>
            <div class="teromac-value">111 teromac St. Suite 777<br />Los Angeles, CA 90210</div>
            <div class="teromac-label">Email</div>
            <div class="teromac-value">lynn@pegas.com</div>
            <div class="teromac-label">Cellphone</div>
            <div class="teromac-value">949-323-4323</div>
            <div class="teromac-btn-container">
                <div class="teromac-btn" trnslate="Edit"></div>
            </div>
        </div>
        <div class="teromac-profile-view-right">
            <h3>Email Preferences</h3>
            <div>
                <div class="teromac-checkbox">
                    <input type="checkbox" id="teromac-daily-specials-input" />
                    <label for="teromac-daily-specials-input">Daily specials</label>
                </div>
            </div>
            <div>
                <div class="teromac-checkbox">
                    <input type="checkbox" id="teromac-weekly-updates-input" />
                    <label for="teromac-weekly-updates-input">Weekly updates</label>
                </div>
            </div>
            <div class="teromac-btn-container">
                <div class="teromac-btn">Update</div>
            </div>
        </div>
    </div>
</div>