<div id="teromac-add-to-calendar-modal-view">
    <h2>Add to Calendar</h2>
    <ul class="teromac-calendar-downloads">
        <li class="teromac-calendar-download teromac-calendar-download-outlook">Microsoft Outlook</li>
        <li class="teromac-calendar-download teromac-calendar-download-ical">Apple iCal</li>
        <li class="teromac-calendar-download teromac-calendar-download-google">Google Calendar</li>
        <li class="teromac-calendar-download teromac-calendar-download-yahoo">Yahoo Calendar</li>
    </ul>
</div>