@font-face {
  font-family: "teromac Icons";
  src: url("/assets/fonts/teromac-icons/font.eot");
  src: url("/assets/fonts/teromac-icons/font.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/teromac-icons/font.woff") format("woff"), url("/assets/fonts/teromac-icons/font.ttf") format("truetype"), url("/assets/fonts/teromac-icons/font.svg#teromac-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "teromac Icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="teromac-icon-"]:before,
[class*=" teromac-icon-"]:before {
  font-family: "teromac Icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.teromac-icon-pinterest:before {
  content: "\63"; }

.teromac-icon-user:before {
  content: "\62"; }

.teromac-icon-youtube-play:before {
  content: "\67"; }

.teromac-icon-location-arrow:before {
  content: "\6b"; }

.teromac-icon-google-plus:before {
  content: "\6c"; }

.teromac-icon-child:before {
  content: "\6f"; }

.teromac-icon-instagram:before {
  content: "\70"; }

.teromac-icon-caret-down:before {
  content: "\71"; }

.teromac-icon-caret-left:before {
  content: "\72"; }

.teromac-icon-caret-right:before {
  content: "\73"; }

.teromac-icon-caret-up:before {
  content: "\74"; }

.teromac-icon-angle-up:before {
  content: "\75"; }

.teromac-icon-angle-right:before {
  content: "\76"; }

.teromac-icon-angle-left:before {
  content: "\77"; }

.teromac-icon-angle-down:before {
  content: "\78"; }

.teromac-icon-facebook-square:before {
  content: "\79"; }

.teromac-icon-icon-artboard-05:before {
  content: "\7a"; }

.teromac-icon-icon-artboard-06:before {
  content: "\41"; }

.teromac-icon-icon-artboard-07:before {
  content: "\42"; }

.teromac-icon-icon-artboard-08:before {
  content: "\43"; }

.teromac-icon-icon-artboard-09:before {
  content: "\44"; }

.teromac-icon-icon-artboard-10:before {
  content: "\45"; }

.teromac-icon-icon-artboard-11:before {
  content: "\46"; }

.teromac-icon-icon-artboard-12:before {
  content: "\47"; }

.teromac-icon-icon-artboard-13:before {
  content: "\48"; }

.teromac-icon-icon-artboard-14:before {
  content: "\49"; }

.teromac-icon-icon-artboard-15:before {
  content: "\4a"; }

.teromac-icon-icon-artboard-16:before {
  content: "\4b"; }

.teromac-icon-icon-artboard-17:before {
  content: "\4c"; }

.teromac-icon-icon-artboard-36:before {
  content: "\4d"; }

.teromac-icon-icon-artboard-34:before {
  content: "\4e"; }

.teromac-icon-icon-artboard-icon-child-solid:before {
  content: "\4f"; }

.teromac-icon-icon-artboard-icon-child:before {
  content: "\50"; }

.teromac-icon-icon-artboard-33:before {
  content: "\51"; }

.teromac-icon-icon-artboard-32:before {
  content: "\52"; }

.teromac-icon-icon-artboard-icon-adult-solid:before {
  content: "\53"; }

.teromac-icon-icon-artboard-icon-adult:before {
  content: "\54"; }

.teromac-icon-icon-artboard-31:before {
  content: "\55"; }

.teromac-icon-icon-artboard-47:before {
  content: "\56"; }

.teromac-icon-icon-artboard-46:before {
  content: "\57"; }

.teromac-icon-icon-artboard-27:before {
  content: "\58"; }

.teromac-icon-icon-artboard-29:before {
  content: "\59"; }

.teromac-icon-icon-artboard-26:before {
  content: "\5a"; }

.teromac-icon-icon-artboard-45:before {
  content: "\30"; }

.teromac-icon-icon-artboard-44:before {
  content: "\31"; }

.teromac-icon-icon-artboard-25:before {
  content: "\32"; }

.teromac-icon-icon-artboard-42:before {
  content: "\33"; }

.teromac-icon-icon-artboard-24:before {
  content: "\34"; }

.teromac-icon-icon-artboard-23:before {
  content: "\35"; }

.teromac-icon-icon-artboard-41:before {
  content: "\36"; }

.teromac-icon-icon-artboard-40:before {
  content: "\37"; }

.teromac-icon-icon-artboard-19:before {
  content: "\38"; }

.teromac-icon-icon-artboard-18:before {
  content: "\39"; }

.teromac-icon-icon-artboard-39:before {
  content: "\21"; }

.teromac-icon-mail:before {
  content: "\61"; }

.teromac-icon-email-mail-streamline:before {
  content: "\64"; }

.teromac-icon-locker-streamline-unlock:before {
  content: "\65"; }

.teromac-icon-lock-locker-streamline:before {
  content: "\66"; }

.teromac-icon-torso:before {
  content: "\68"; }
