<div id="teromac-add-room-modal-view">
    <h2 class="teromac-success-check">Room added your cart!</h2>
    <p>Would you like to book an additional room?</p>
    <div class="teromac-half-container">
        <div class="teromac-half teromac-push-left">
            <div class="teromac-btn teromac-btn-inverse" ng-click="vm.checkout()">Go to check out</div>
        </div>
        <div class="teromac-half teromac-push-right">
            <div class="teromac-btn" ng-click="vm.additionalRoom()">Additional Room</div>
        </div>
    </div>
</div>