<div id="teromac-addon-view">
    <h3 translate="Customize Your Stay"></h3>
    <div class="teromac-room-image-slider-con-outer">
        <div class="teromac-room-image-slider-con-inner">
            <!-- htmlmin:ignore -->
            <slick class="teromac-room-image-slider" autoplay="true" autoplay-speed="3000" arrows="false" dots="false" draggable="true" infinite="true" slides-to-show="1" slides-to-scroll="1" speed="300">
                <div class="teromac-room-image-slide-outer">
                    <div class="teromac-room-image-slide-inner">
                        <div class="teromac-room-image" style="background-image: url('/assets/images/hotels/belmond/addons/bus-tour.jpg')"></div>
                    </div>
                </div>
                <div class="teromac-room-image-slide-outer">
                    <div class="teromac-room-image-slide-inner">
                        <div class="teromac-room-image" style="background-image: url('/assets/images/hotels/belmond/rooms/02-deluxe/01-deluxe.jpg')"></div>
                    </div>
                </div>
                <div class="teromac-room-image-slide-outer">
                    <div class="teromac-room-image-slide-inner">
                        <div class="teromac-room-image" style="background-image: url('/assets/images/hotels/belmond/rooms/01-standard/01-standard.jpg')"></div>
                    </div>
                </div>
            </slick>
            <!-- htmlmin:ignore -->
        </div>
    </div>
    <div class="teromac-item-detail-header">
        <div class="teromac-item-detail-header-left">$50</div>
        <h4 class="teromac-item-detail-header-name">Bus Tour</h4>
    </div>
    <div class="teromac-half-container">
        <div class="teromac-half teromac-push-left">
            <div class="teromac-styled-select">
                <select>
                    <option translate="Number of People"></option>
                </select>
            </div>
        </div>
        <div class="teromac-half teromac-push-right">
            <div class="teromac-styled-select">
                <select>
                    <option translate="Date..."></option>
                </select>
            </div>
        </div>
        <div class="teromac-half teromac-push-left">
            <div class="teromac-styled-select">
                <select>
                    <option translate="Time..."></option>
                </select>
            </div>
        </div>
    </div>
    <div class="teromac-rate-controls">
        <div class="teromac-rate-controls-left">
            <a ui-sref="upgrade" class="teromac-btn" translate="Book"></a>
        </div>
        <div class="teromac-rate-controls-right">
            <span class="teromac-btn teromac-btn-hollow-inverse" translate="Policies"></span>
        </div>
    </div>
    <div class="teromac-addon-description-container">
        <hr />
        <p class="teromac-addon-description" translate="Item added to your cart"></p>
    </div>
</div>