.teromac-room-image {
    display: $room-image-display;
    position: $room-image-position;
    top: $room-image-top;
    left: $room-image-left;
    width: $room-image-width;
    height: $room-image-height;
    background-repeat: $room-image-bg-repeat;
    background-position: $room-image-bg-position;
    background-size: $room-image-bg-size;
}